/* 
#32a0c3
#5048e4
#224ead
#4681f4
#21252b
#282c34
#121212
#f0f1f3 bg-1
#f6f6f6 bg-2
*/

:root {
    --color-blue: #1140ad;
}


body {
    background-color: #f0f1f3;
}

.card {
    background-color: #ffffff;
    border: none;
}


/* ? Form */
.form-control {
    color: #8a8e94;
    border: none;
    width: 100%;
    resize: none;
    min-height: 30px;
    overflow: hidden;
    background-color: #eceef2;
}

.form-control::placeholder {
    color: #8a8e94;
    border: none;
}

.form-select::placeholder {
    color: #bbbbbb;
}

.form-select option:hover {
    color: blue;
    background-color: inherit;
}


/* ? Navigation hover */
.nav-link {
    color: black;

    &:hover {
        color: var(--color-blue);
    }
}


/* ? Its icon */
.bi {
    margin-top: -2px;
}

.bg-blue {
    background-color: var(--color-blue);
    color: #ffffff;
}

.border-blue {
    border-color: var(--color-blue);
}

.category-link:hover {
    animation: link-hover 0.2s ease-in-out;
}

@keyframes link-hover {
    from {
        transform: translateY(0);
        /* Start from no vertical movement */
    }

    to {
        transform: translateY(-3px);
        /* Move slightly down on hover */
    }
}